

#nameLabel {
    margin-right:0px;
}

.form-group {
    width:100%;
}

#fileCreators {
    margin-top:100px;
}

#fileCreators > .panel-body, #operators > .panel-body {
    padding-left: 30px;
}

#addCreator, #addOperator {
    width:50px;
    margin-left:-15px;
    margin-top:0;
}

#addInstitution {
    width:50px;
    margin-top:0;
}

.addButton {
    width:50px;
    margin-top:0;
}

#addSamplingDate {
    margin-top : 0;
    width:50px;
}

.part {
    width:70%;
    margin-left:15%;
    margin-right:15%;
}

#valider {
    width:63%;
    margin-left:48px;
}

.deleteButton {
    margin-top : 27px;
}

.placementDiv {
    height:50px;
}

#measurement, #methodology {
    margin:20px;
}

#settingCol {
    margin-left : 15px;
}

#success {
    display:none;
}

#errorSamplingDate {
    display:none;
    color:red;
}