

#nameLabel {
    margin-right:0px;
}

.form-group {
    width:100%;
}

#fileCreators {
    margin-top:100px;
}

#fileCreators > .panel-body, #operators > .panel-body {
    padding-left: 30px;
}

#addCreator, #addOperator {
    width:50px;
    margin-left:-15px;
    margin-top:0;
}

#addInstitution {
    width:50px;
    margin-left:255px;
    margin-top:0;
}

.part {
    width:70%;
    margin-left:15%;
    margin-right:15%;
}

#valider {
    width:63%;
    margin-left:48px;
}

.deleteButton {
    margin-top : 27px;
}